.searchField {
    width: 600px;
    display: flex;
}

.search {
    border-radius: 12px;
    padding: 6px 12px;
}

.tagContainer {
    display: flex;
}

.tag {
    font-size: 12px;
    border-radius: 12px;
    padding: 4px 8px;
    margin-right: 4px;
    background-color: red;
} 