.noDocs {
    font-size: 24px;
}

.docContainer {
    min-height: 100px;
    overflow-y: auto;
    border-bottom: var(--main-white) 2px solid;
    border-top: var(--main-white) 2px solid;
    border-radius: var(--main-radius);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 16px 8px; /* Adjust the gap between grid items */
    max-width: 100%;
    overflow-x: hidden;
    padding: var(--small-padding);
}

.infoContainer {
    margin-bottom: 8px;
}

.documentContainer {
    position: relative;
    aspect-ratio: 675 / 1000;
    outline: none; /* Remove default blue outline */
}
.documentContainer:focus {
    transform: scale(1.02); /* Slight zoom effect */
}

.documentContainer:hover {
    transform: scale(1.02); /* Slight zoom effect */
}

.documentImage {
    position: absolute; 
    z-index: -2;
    width: 100%;
    height: 100%;
    border-radius: var(--main-radius);
    background-size: cover;
    mask-image: linear-gradient(to bottom, transparent, var(--main-dark) 100%, var(--main-dark) 100%, transparent);
}

.documentImage:hover {
    mask-image: none;
}

.document {
    z-index: 1;
    cursor: pointer;
    border-radius: var(--big-radius);
    padding: var(--big-padding);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    pointer-events: none;
}

.mediaInfo {
    display: inline-flex;
    gap: 8px;
    margin: auto;
    padding-right: 8px;
}


.seasonInfo {
    font-size: 20px;
    font-weight: bold;
    color: var(--main-dark);
    border-radius: var(--small-radius);
    padding: 4px 8px;
    margin-left: 8px;
    margin: auto;
    background-color: var(--main-white);
}

.docButtons {
    display: flex;
}

.tagContainer {
    display: flex;
    margin-bottom: 8px;
    max-height: 20vh;
}

.tag {
    font-size: 12px;
    border-radius: var(--small-radius);
    padding: 4px 8px;
    margin-right: 4px;
    background-color: var(--main-red);
} 
