.main {
    display: flex;
    color: white;
}

.mediaBrowserContainer {
    flex: 1;
    margin: 16px;
}

.detailedMediaContainer {
    flex: 1;
    margin: 0px 8px;
}

.docContainer {
    display: grid;
    min-height: 100px;
    max-height: 700px;
    overflow-y: auto;
    margin-bottom: 8px;
    padding-bottom: 8px;
    border-bottom: var(--main-white) 2px solid;
    border-top: var(--main-white) 2px solid;
}

.document {
    margin: 4px 8px;
    cursor: pointer;
    border-radius: var(--big-radius);
    padding: var(--main-padding);
    max-height: 200px;
    width: 96%;
}

.document:hover {
    background: #424242;
    background-color: var(--secondary-dark);
}

.docButtons {
    display: flex;
}

.noDocs {
    font-size: 24px;
}

.searchParamContainer {
    margin: 8px 0px;
}

.searchField {
    display: flex;
}

.search {
    line-height: 2em;
    font-weight: bold;
    font-size: 18px;
    width: 100%;
    border-radius: var(--big-radius);
    padding: 6px 12px;
    border: solid 3px black;
    outline: none;
}

.tagContainer {
    display: flex;
    margin-bottom: 8px;
}

.tag {
    font-size: 12px;
    border-radius: var(--small-radius);
    padding: 4px 8px;
    margin-right: 4px;
    background-color: var(--main-red);
} 

.toggleTags {
    margin: 8px 0px 0px 0px;
}
