.metaBackground {
    margin: auto;
    width: 100%;
    height: 100%;
}

.metaContainer {
    background-color: var(--very-dark);
    padding: 12px;
    overflow-y: auto;
    border-radius: var(--main-radius);
    border: solid 2px var(--main-white);
}

.buttons {
    display: flex;
}

.seasonsAndImg {
    display: flex;
    justify-content: space-between;
    margin: var(--main-padding);
}

.seasonsContainer {
    height: 100%
}

.seasonContainer {
    margin: 0px 8px;
}

.episodEcontainer {
    display: grid;
    grid-template-columns: repeat(4, auto);
}

.episode {
    padding: 8px 4px;
    border-radius: var(--main-radius);
    width: 90%;
}

.episode:hover {
    background-color: var(--secondary-dark);
}
