.metaInfos {
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    overflow-y: scroll;
    max-height: 600px;
    width: 900px;
}

.metaInfoContainer {
    display: flex;
}

.metaInfo {
    text-transform: uppercase;
    padding: 8px;
    margin: 8px 0px;
}

.metaField {
    text-transform: uppercase;
    margin: 4px 0px;
}

.loading {
    margin: auto;
}

.scanAll {
    padding: 0px 0px 8px 0px;
}
