.suggestion {
    display: flex;
    justify-content: center; /* Center the content horizontally */
    align-items: center; /* Center the content vertically */
    overflow: hidden; /* Prevent content overflow */
    height: 50vh; /* Fixed height for each suggestion item */
}

.suggestion img {
    height: 100%; /* Scale image to the height of the suggestion */
    width: auto; /* Maintain the aspect ratio */
    object-fit: contain; /* Ensure the image fits within the box without being cropped */
}
.suggestion:hover {
    transform: scale(1.03);
}

