.suggestion {
    height: 100%; /* Ensure consistent height */
}

.suggestion img {
    max-height: 100%; /* Ensure image scales within grid cell */
    max-width: 100%; /* Maintain aspect ratio */
}

.suggestion:hover {
    transform: scale(1.03);
}

