:root {
    --main-red: rgb(184, 0, 0);
    --secondary-red: rgb(188, 52, 52);
    --main-white: rgb(230, 227, 227);
    --secondary-white: rgb(191, 191, 191);
    --very-dark: #0e0d0d;
    --main-dark: #1b1b1b;
    --secondary-dark: #404040;
    --light-dark: #b2b2b2;
    --main-padding: 8px;
    --small-radius: 4px;
    --main-radius: 8px;
    --big-radius: 12px;
}