body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--main-dark);
  background-repeat: no-repeat;
  height: 100%;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h2 {
  padding: 0px 0px;
}

html {
  min-height:100%;
}

a {
  transition: color 0.3s;
  color: white;
}

a:hover {
  color: rgb(184, 0, 0)
}

button {
  text-transform: uppercase;
  margin-right: 4px;
  font-weight: bold;
  background-color: white; /* Button background color */
  color: black; /* Text color */
  padding: 2px 4px;
  border-radius: 4px; /* Rounded corners */
  border: 0; /* Remove the default border */
  font-size: 14px; /* Font size */
  cursor: pointer; /* Pointer cursor on hover */
  transition: background-color 0.3s ease; /* Smooth transition on hover */
}

button:hover {
  background-color: black;
  color: white;
}