.main {
    display: flex;
    color: white;
}

.mediaBrowserContainer {
    flex: 1;
    margin: 16px;
}

.detailedMediaContainer {
    flex: 1;
    margin: 0px 8px;
}

.docContainer {
    display: grid;
    overflow-y: auto;
    height: 400px;
    margin-bottom: 8px;
    padding-bottom: 8px;
}

.document {
    border-radius: 12px;
    padding: 8px;
    max-height: 200px;
}

.document:hover {
    background: red;
}

.docButtons {
    display: flex;
}

.searchParamContainer {
    margin: 8px 0px;
}

.searchField {
    display: flex;
}

.search {
    width: 100%;
    border-radius: 12px;
    padding: 6px 12px;
    border: solid 3px black;
}

.tagContainer {
    display: flex;
    margin-bottom: 8px;
}

.tag {
    font-size: 12px;
    border-radius: 12px;
    border: solid 2px black;
    padding: 4px 8px;
    margin-right: 4px;
    background-color: rgb(184, 0, 0);
} 