.play-button {
    margin-right: 8px;
    width: 64px;
    height: 30px;
    background-color: white;
    border: solid black;
    border-radius: 12px;
    position: relative;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  .play-button:hover {
    background-color: black;
  }
  
  .play-button::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    border-left: 20px solid black;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    transition: border-left-color 0.3s ease;
  }
  
  .play-button:hover::before {
    border-left-color: #ecf0f1;
  }
  